/* for mobiles */

@media (max-width:600px){
    .nav_bar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        padding: 0%;
        margin-top: 60px;
        text-align: left;
        background-color: blueviolet;
        left: 100%;
        transition: 0.5s;
    }
    .nav_bar .slide{
        left: 40%;
        transition: 0.5s;
    }
    .nav_bar ul li{
        display: block;
        padding: 0%;
        margin: 0%;
        width: 100%;
    }
    .nav_bar ul li:hover{
        background-color: rgb(253, 3, 203);
    }
    .nav_bar ul li .a1:hover{
        border: none;
        color: black;
    }
    .menu {
        float: right;
        padding: 18px 20px;
        display: block;
    }
    .menu .line{
        width: 25px;
        height: 5px;
        background-color: white;
        margin-bottom: 5px;
        display: block;
    }

    .home .content{
        margin: 30% 1%;
        padding: 0%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home .picture{
        margin: 0% 40%;
        width: 80%;
        
    }


    .aboutUs {
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: block;
        justify-content: center;
    }
    .aboutUs .image{
        width: 80%;
        margin: 15% -10%;
    }
    .aboutUs .about_content p{
        padding: 1%;
        margin: 5%;
    }


    .skills .known{
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: block;
        justify-content: center;
    }
    .skills .known h2{
        width: 100%;
        margin: 20% 13%;
        
    }
    .skills .known ul{
        width: 80%;
        margin: -10% -35%;
        padding: 1%;
    }
    .skills .known ul li{
        margin-top: 20px;
        padding: -10px -10px;
    }
    .skills .img1,.img2,.img3{
        display: none;
    }


    .projects{
        width: 100%;
        min-height: 50vh;
        margin:0%;
        padding: 0%;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .projects h2{
        width: 100%;
        margin: 20% -0%;
    }
    .projects .pro{
        font-size: 14px;
        width: 90%;
        height: max-content;
        margin: 35% -95%;
        padding: 5%;
    }


    .contactUs{
        width: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contactUs .info{
        width: 100%;
        margin: 0% -175%;
    }


}